name: Build & Test

# Controls when the action will run - on push or pull request events but only for the master branch or manually triggered.
on:
  push:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
      - name: Setup Go environment
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17.0'
      - name: Build Project
        run: go build cmd/defair/defair.go
      - name: Test Project
        run: go test -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Upload Coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt